@charset "utf-8";
/* CSS Document */
h1{
	color:#fff;
}
h2{
	color:#0f1923;
	margin:0 0 8px;
	font-weight:bold;
}
h4{
	text-transform: none;
	font-weight: bold;
	letter-spacing: .5px;
	margin-top: 30px;
}
h4.subtitle{
	margin: -5px 0 30px;
	font-size: 14px;
}
h6 {

    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;

}
.recent-news-text h6 {
    visibility: hidden;
}
/*p{
	margin:0;
}*/