/* CSS Main */

@import url("layout.css");

@import url('format.css');


body {
	margin: 0;
	padding: 0;
}


h1, h2, h3, h4, h5, h6, ul, li, p, a, table, blockquote {
	margin: 0;
	padding: 0;
}

img {
 border:0px;
}

