/* Reset tags
   Reset agent stylesheet
-----------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

table {
    border:0px solid black;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse:separate;
   /* width:70%;*/
}

td {
    vertical-align:middle;
    padding: .0em .2em .3em 0;
    border:0px solid black;
   }

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight:600;
    margin: 10px 0 25px 0;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    /*height:55%;*/
    background-color: rgb(234, 234, 225);
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 480px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

hr
{
    border-width: .04em;
    border-style: dashed;
    margin-top:10px;
    padding:0px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.rbstrip {
    margin: 0;
    padding: 0;
    border: 0;
    width:110px;
}

.wizard-box {
    width:72%; 
    padding:1%;
    background-color: rgb(234, 234, 225);
    /*margin:auto;*/
    border:0px solid black;
}

.chkBox {
    font-size: 9px;
}

.solid-line
{
    border-width:.05em;
    border-style: solid;
}

#btn-step-wizard {
    margin-top:25px;
    margin-bottom:10px;
}

#Note { text-align:center;width:98%;}
#Note h4 {color:Green;}

.mail-state {width:50px;overflow:scroll;padding:1px;}
.add-policy {width:220px;overflow:scroll;padding:1px;}
.add-agent {width:100%;overflow:scroll;padding:1px;}
.main-table {width:700px;}
/*.main-table {}*/

#add-data, #employee {float:left;border:0px solid black;padding-bottom:10px;}
#see-grd {background-color:White;border:0px solid black;padding:5px;position:fixed;right:20%;}

/*#divUpdate { display:none;border:1px solid black;position:absolute;left:25%;top:10%; padding:10px;background-color:#ebebeb;z-index:5;width:700px;}*/

.selectedRow {background-color:Yellow;}
.popupWindow {position:absolute;left:25%;top:5%;width:700px;border:solid 1px black;padding:10px;background-color:white;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color=#cccccc);display:none;}
.popupWindow label {font-weight:bold;}
.popupWindowLabels  { background-color: rgb(234, 234, 225);padding:2px;}

.auto-complete1 {list-style-type:none;width:100%;padding:0;margin-top:3px;height:380px;overflow:scroll;background-color:White;}
.auto-complete2 {list-style-type:none;background-color:White;padding:0;margin:0;}
.auto-complete3 {background-color:yellow;}

#divDisplay { border:solid 1px black;height:300px;padding:10px;background-color:White;overflow:scroll; clear:both;}
.page ul li {list-style:none;float:left;margin-right:5px;}

.cancel-app {position:absolute;left:94%;}