 <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
	 <h3><em>Here is a sidebar example if you are interested in building out a backend for this...</em></h3>
	  <form method="get" id="searchform" action="#">
		<div>
		  <input type="text" value="Search..." name="s" id="s" />
		  <button type="submit" id="searchsubmit" class="fa  fa-search"></button>
		</div>
	  </form>
	  <aside class="sidebar catagories col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
		  <h3>Categories</h3>
		  <ul class="regular-font">
			<li><a href="#">Church Safety</a></li>
			<li><a href="#">Being Prepared</a></li>
			<li><a href="#">Uplifting Stories</a></li>

		  </ul>
		  <!--row--> 
		</div>
		<!--sidebar--> 
	  </aside>
	  <aside class="sidebar recent-posts col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
		  <h3>Recent Posts</h3>
		  <ul class="regular-font">
			<li>
			  <figure><img src="images/blog/Virgina-Thumbnail.jpg" alt="recent-post-img1" /></figure>
			  <p><span>Welcome To Virgina</span>Southern Mutual Church...</p>
			  <a href="#">read more</a> </li>
			<li>
			  <figure><img src="images/blog/Church-Safety-Thumbnail.jpg" alt="recent-post-img1" /></figure>
			  <p><span>Church Safety</span>With the increase in violence against...</p>
			  <a href="#">read more</a> </li>
			<li>
			  <figure><img src="images/blog/Cumberland-AME-Thumbnail.jpg" alt="recent-post-img1" /></figure>
			  <p><span>Cumberland AME in Georgetown, SC</span>On September 21, 2017...</p>
			  <a href="#">read more</a> </li>
		  </ul>
		  <!--row--> 
		</div>
		<!--sidebar--> 
	  </aside>
	  <aside class="sidebar tags col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
		  <h3>Tags</h3>
		  <a href="#">Tips & Tricks</a> <a href="#">Our Churches</a> <a href="#">Good News</a> <a href="#">Our Agents</a>
		  <!--row--> 
		</div>
		<!--sidebar--> 
	  </aside>
	  <!--col-lg-3--> 
</div>