 <div class="clearfix"></div>

<!--=====================================--> 
<!--============== Modals ===============--> 
<!--=====================================-->

	<!-- Payment Modal -->
	<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentModalTitle">Online Payment Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>Southern Mutual Church Insurance is committed to providing new ways to serve our policyholders. We are pleased to offer online payments via your church's checking account as one of these convenient services.</strong></p>
            <p>When you click on the icon below, you will be taken to the secure website of our payment partner VeriCheck/USA ePay. On the secure form you will enter your account holder name, bank routing number, and bank account number for your checking account. If you are on our Consolidated Billing option, you will enter your SMCI customer number, otherwise you will enter your SMCI policy number. You will also enter the amount you are paying, as well as your church's billing information (church name, address, etc.). When you click on the "Process Payment" button, you should receive a confirmation number verifying the payment request has been received. Please print this confirmation information for your records in case you need to contact us concerning the online payment.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="https://secure.usaepay.com/interface/epayform/eNh185f00XMRltJM3TC36BbuI918ZgzS/" target="_blank"><button type="button" class="btn btn-primary">Continue To Payment Gateway</button></a>
          </div>
        </div>
      </div>
  </div>
  <!-- End Payment Modal -->

  <!-- Mortgage Modal -->
  <div class="modal fade" id="mortgageModal" tabindex="-1" role="dialog" aria-labelledby="mortgageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalTitle">Get A Mortgage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Southern Mutual Church Insurance pledges to be there for policyholders in their time of need, whether they are recovering from a fire or expanding to meet a growing congregation’s needs.</strong></p>
          <p> That is why we are happy to offer mortgage loans of up to $400,000 and for a maximum term of 15 years. The loan can be used for expansion, renovation, or remodeling. We offer competitive rates and we can have the check in your hands in less than six weeks. Call <a href="tel:8009225332">800.922.5332</a> and ask for our Mortgage Loan Department to learn more.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- End Mortgage Modal -->




<!--=====================================--> 
<!--============== Footer ===============--> 
<!--=====================================-->
<footer class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="footer col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <aside class="contact-info col-lg-5 col-md-5 col-sm-6 col-xs-12">
      <ul>
        
        <li><img src="images/icons/Local.svg" width="25px">201 Greenlawn Drive, Columbia, SC 29209</li>
        <li><img src="images/icons/Email.svg" width="25px"> PO Box 9346, Columbia, SC 29290-0346</li>
        <li><a href="tel:8009225332"><img src="images/icons/Phone.svg" width="25px">800.922.5332</a></li>
        <li><a href="tel:8037769365"><img src="images/icons/Phone.svg" width="25px">803.776.9365</a></li>
        <li><a href="tel:8037764260"><img src="images/icons/Fax.svg" width="25px">803.776.4260</a></li>
      </ul>
      <!--sitemap--> 
    </aside>
    <aside class="sitemap col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <ul>
        <li><a href="../about.html"><img src="images/icons/Links Icon.svg" width="25px">About Us</a></li>
        <li><a href="../resources.html"><img src="images/icons/Links Icon.svg" width="25px">Resources</a></li>
        <li><a href="../products.html"><img src="images/icons/Links Icon.svg" width="25px">Products</a></li>
        <li><a href="../contact.html"><img src="images/icons/Links Icon.svg" width="25px">Contact</a></li>
        <li><a href="../login.aspx"><img src="images/icons/Links Icon.svg" width="25px">Log In</a></li>
        <li><a href="../careers.html"><img src="images/icons/Links Icon.svg" width="25px">Career Opportunities</a></li>
      </ul>
      <!--sitemap--> 
    </aside>
    <aside class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
      <div class="logo pull-left" style="width: 100%; margin-bottom: 25px;"><a href="index.html"><img src="images/logo-white-text-small.png" width="222px" alt="Southern Mutual Church Insurance Logo"></a></div>

<div style="width: 70%; display: inline-block;">
  <a href="http://www3.ambest.com/ratings/profile.asp?ambnum=1847&RatingCode=20811847" target="_blank"><img src="images/a.m.-best-image.png" style="float: left; width: 45%; margin-top: 20px;"></a>
  <a href="http://www.demotech.com/search_results_fsr.aspx?id=26468&t=2&AspxAutoDetectCookieSupport=1" target="_blank"><img src="images/Partner-Unsurpassed.png" style="float: left; width: 45%; margin-left: 15px; margin-top: 20px;"></a>
</div>

      <!--<div class="social-icons">
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
      </div>-->
      <!--copyright-section--> 
    </aside>
    <!--footer--> 
  </div>
  <!--darkBlueBg--> 
</footer>
</div>
<div class="copyright-section">
Copyright 2019 - SMCIC. All rights reserved.
</div>