<!--=====================================--> 
<!--============== Banner ===============--> 
<!--=====================================-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-banner">
  <div class="row">
 <div id="banner-slider" class="banner-slider">
<div>
    <div class="banner-outer banner-outer col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="images/logo-white-text-small.png" alt="Southern Mutual Church Insurance Logo" /></figure>
            <h1>A HEADLINE THAT COMMUNICATES RELIABILITY, PROFESSIONALISM, AND CARE</h1>
            <p>Our mission is to build long-term relationships with our church policyholders, business partners
              and employees through quality insurance products, trusted services and a caring business culture.</p>
            <div class="banner-btn transparent-btn"><a href="request-a-quote">Request A Quote</a></div>
          </div>
          <!--banner-text--> 
        </div>
        <!--row--> 
      </div>
      <!-- banner-outer--> 
    </div>
     <div class="banner-img col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      <!--banner-img--> 
    </div>
    </div><div>
     <div class="banner-outer banner-outer2 col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="images/logo-white-text-small.png" alt="Southern Mutual Church Insurance Logo" /></figure>
            <h1>Another Headline That Can Be Utilized</h1>
            <p>Here, we can repeat the mission statement or add another short impactful statement.</p>
            <div class="banner-btn transparent-btn"><a href="#">Another CTA?</a></div>
          </div>
          <!--banner-text--> 
        </div>
        <!--row--> 
      </div>
      <!-- banner-outer--> 
    </div>
     <div class="banner-img banner-img2 col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      <!--banner-img--> 
    </div>
    </div><div>
     <div class="banner-outer banner-outer3 col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="images/logo-white-text-small.png" alt="Southern Mutual Church Insurance Logo" /></figure>
            <h1>A Third Headline If We Want It</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor 
              abore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud xercitation ullamc laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="banner-btn transparent-btn"><a href="request-a-quote">Request A Quote</a></div>
          </div>
          <!--banner-text--> 
        </div>
        <!--row--> 
      </div>
      <!-- banner-outer--> 
    </div>
     <div class="banner-img banner-img3 col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      <!--banner-img--> 
    </div>
    </div></div>
    <div class="explore-services BlueBg semibold-font" id="explore">Learn More
      <figure class="bounce"><img src="images/arrow-down.png" alt="arrow" /></figure>
      <!--explore-services--> 
    </div>
    <!--row--> 
  </div>
  <!--col-lg-12--> 
</div>