<!--=====================================--> 
<!--============ Navigation =============--> 
<!--=====================================-->
<div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12" id="headerCon">
  <div class="container">
    <div class="row">
      <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo pull-left"><a href="index.html"><img src="images/logo-wide.png" alt="Wide SMCI Logo" /></a></div>
		<div class="clearfix showmb"></div>
        <nav class="navbar navbar-default pull-right">
          <div class="container-fluid">
            <div class="row"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!--navbar-header--> 
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="clearfix showmb"></div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">
                  <ul id="nav-list" class="nav navbar-nav">
                    <li id="home-link"><a href="index.html">Home</a></li>
                    <li class="dropdown">
                      <a href="about.html">About us<i class="fa fa-angle-down hidden-md hidden-sm"></i></a>
                      <div class="dropdown-menu regular-font hidden-md hidden-sm">
                          <ul>
                            <li><a href="about.html"><i class="fa fa-stop"></i>Our History</a></li>
                            <li><a href="about.html#letter-from-president"><i class="fa fa-stop"></i>Letter From The President</a></li>
                            <li><a href="about.html#directors"><i class="fa fa-stop"></i>Board Of Directors</a></li>
                          </ul>
                            <!--dropdown-menu-->
                        </div>
                    </li>
                    <li  class="dropdown">
                      <a href="products.html">Products<i class="fa fa-angle-down hidden-md hidden-sm"></i></a>
                        <div class="dropdown-menu regular-font hidden-md hidden-sm">
                          <ul>
                            <li><a href="products.html?tab=property-and-liability"><i class="fa fa-stop"></i>Property Liability</a></li>
                            <li><a href="products.html?tab=automobile"><i class="fa fa-stop"></i>Business Automobile</a></li>
                            <li><a href="products.html?tab=workers-comp"><i class="fa fa-stop"></i>Workers Compensation</a></li>
                            <li><a href="products.html?tab=umbrella"><i class="fa fa-stop"></i>Umbrella Liability</a></li>
                            <li><a href="travel.html"><i class="fa fa-stop"></i>Missionary Travel Insurance</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#mortgageModal"><i class="fa fa-stop"></i>Mortage Loans</a></li>
                          </ul>
                            <!--dropdown-menu-->
                        </div>
                    </li>
                    <li class="dropdown">
                      <a href="resources.html">Resources<i class="fa fa-angle-down hidden-md hidden-sm"></i></a>
                        <div class="dropdown-menu regular-font hidden-md hidden-sm"> 
                          <ul>
                            <li><a href="resources.html?tab=church-security"><i class="fa fa-stop"></i>Church Security</a></li>
                            <li><a href="resources.html?tab=candle-safety"><i class="fa fa-stop"></i>Candle Safety</a></li>
                            <li><a href="resources.html?tab=child-protection"><i class="fa fa-stop"></i>Child Protection</a></li>
                            <li><a href="resources.html?tab=helpful-links"><i class="fa fa-stop"></i>Helpful Links</a></li>
                            <li><a href="resources.html?tab=motor-vehicle-reports"><i class="fa fa-stop"></i>Motor Vehicle Reports</a></li>
                            <li><a href="resources.html?tab=gatekeeper-newsletter"><i class="fa fa-stop"></i>Gatekeeper Newsletter</a></li>
                          </ul>
                            <!--dropdown-menu-->
                        </div>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 9px 20px;">More<i class="fa fa-angle-down"></i></a>
                      <div class="dropdown-menu regular-font">
                      <ul>
                        <li><a href="faq.html"><i class="fa fa-stop"></i> FAQ</a></li>
                        <li><a href="find-an-agent.html"><i class="fa fa-stop"></i>Find An Agent</a></li>
                        <li><a href="report-a-claim.html"><i class="fa fa-stop"></i>Report A Claim</a></li>
                        <li><a href="careers.html"><i class="fa fa-stop"></i>Career Opportunities</a></li>
                        <!--<li><a href="login/login_p.aspx" data-toggle="modal" data-target="#paymentModal"><i class="fa fa-stop"></i>Online Payment</a></li>-->
                        <li><a href="login.aspx" data-toggle="modal" data-target="#paymentModal"><i class="fa fa-stop"></i>Online Payment</a></li>
                        </ul>
                        <!--dropdown-menu-->
                      </div>
                    </li>
                    <li class="nav-cta"><a href="login.aspx">Log In</a></li>
                  </ul>
                  <!--row--> 
                </div>
                <!--collapse--> 
              </div>
              <!--row--> 
            </div>
            <!--container-fluid--> 
          </div>
          <!--navbar--> 
        </nav>
        <!--header--> 
      </aside>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--greyBg--> 
</div>
