vti_encoding:SR|utf8-nl
vti_author:SR|SMCDMZ01\\ASSTADMIN
vti_modifiedby:SR|SMCDMZ01\\ASSTADMIN
vti_timelastmodified:TR|14 Nov 2012 17:54:56 -0000
vti_timecreated:TR|14 Nov 2012 17:54:56 -0000
vti_cacheddtm:TX|14 Nov 2012 17:54:56 -0000
vti_filesize:IR|4940
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{ECBE7C15-5684-4BC7-9640-9A5640623FE6}
vti_backlinkinfo:VX|CSS/main.css
